extends layout

block content
  form(action='/auth/twitter' method='get')
    p
      button 「田所あずさちゃんに会いたい」とツイートする
    p
      <a class="twitter-timeline" href="https://twitter.com/search?q=%E7%94%B0%E6%89%80%E3%81%82%E3%81%9A%E3%81%95%E3%81%A1%E3%82%83%E3%82%93%E3%81%AB%E4%BC%9A%E3%81%84%E3%81%9F%E3%81%84" data-widget-id="394111375275876354">「田所あずさちゃんに会いたい」を検索</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  address
    a(href='https://twitter.com/furugomu/') 問い合わせ先 (@furugomu)
    &nbsp;
    a(href='https://github.com/furugomu/tadokoroazusachanniaitai') ソース



