extends layout

block content
  form(action='/auth/twitter' method='get')
    p
      button 「田所あずさちゃんに会いたい」とツイートする
  address
    a(href='https://twitter.com/furugomu/') 問い合わせ先 (@furugomu)
    &nbsp;
    a(href='https://github.com/furugomu/tadokoroazusachanniaitai') ソース
